.beach-bunny {
    background: url('beachBunnyBackground.png') no-repeat center center;
	height: 550px;
	background-size: cover;
	background-color: black;
}

.biker-babe {
	background: url('bikerBabeBackground.png') no-repeat center center;
	height: 550px;
	background-size: cover;
	background-color: black;
}
.blonde-bombshell {
	background: url('blondeBombshellBackground.png') no-repeat center center;
	height: 550px;
	background-size: cover;
	background-color: black;
}
.bootylicious-babe {
	background: url('bootyliciousBackground.png') no-repeat center center;
	height: 550px;
	background-size: cover;
	background-color: black;

}
.daddy\'s-girl {
	background: url('daddysGirlBackground.png') no-repeat center center;
	height: 550px;
	background-size: cover;
	background-color: black;
}
.fierce-cowgirl {
    background: url('fierceCowgirlBackground.png') no-repeat center center;
	height: 550px;
	background-size: cover;
	background-color: black;
}
.fitness-chic {
	background: url('fitnessChicBackground.png') no-repeat center center;
	height: 550px;
	background-size: cover;
	background-color: black;
}
.girl-next-door {
	background: url('girlNextDoorBackground.png') no-repeat center center;
	height: 550px;
	background-size: cover;
	background-color: black;
}
.ms-madison-ave {
    background: url('madisonAveBackground.png') no-repeat center center;
	height: 550px;
	background-size: cover;
	background-color: black;
}
.natural-beauty {
    background: url('naturalBeautyBackground.png') no-repeat center center;
	height: 550px;
	background-size: cover;
	background-color: black;
}
.sexy-brunette {
    background: url('sexyBrunetteBackground.png') no-repeat center center;
	height: 550px;
	background-size: cover;
	background-color: black;
}
.tattooed-baby {
    background: url('tattooedBabyBackground.png') no-repeat center center;
	height: 550px;
	background-size: cover;
	background-color: black;
}

@media screen and (max-width: 768px){
	.beach-bunny {
	height: 805px;
	
}

.biker-babe {
	height: 805px;
	
}
.blonde-bombshell {
	height: 805px;
	
}
.bootylicious-babe {
	height: 805px;
	

}
.daddy\'s-girl {
	height: 805px;
	
}
.fierce-cowgirl {
	height: 805px;
	
}
.fitness-chic {
	height: 805px;
	
}
.girl-next-door {
	height: 805px;
	
}
.ms-madison-ave {
	height: 805px;
	
}
.natural-beauty {
	height: 805px;
	
}
.sexy-brunette {
	height: 805px;
	
}
.tattooed-baby {
	height: 805px;
	
	}
}

@media screen and (max-width: 414px){
	.beach-bunny {
	height: 542px;
	
}

.biker-babe {
	height: 542px;
	
}
.blonde-bombshell {
	height: 542px;
	
}
.bootylicious-babe {
	height: 542px;
	

}
.daddy\'s-girl {
	height: 542px;
	
}
.fierce-cowgirl {
	height: 542px;
	
}
.fitness-chic {
	height: 542px;
	
}
.girl-next-door {
	height: 542px;
	
}
.ms-madison-ave {
	height: 542px;
	
}
.natural-beauty {
	height: 542px;
	
}
.sexy-brunette {
	height: 542px;
	
}
.tattooed-baby {
	height: 542px;
	
	}
}

@media screen and (max-width: 375px){
	
.beach-bunny {
	height: 473px;
	
}

.biker-babe {
	height: 473px;
	
}
.blonde-bombshell {
	height: 473px;
	
}
.bootylicious-babe {
	height: 473px;
	

}
.daddy\'s-girl {
	height: 473px;
	
}
.fierce-cowgirl {
	height: 473px;
	
}
.fitness-chic {
	height: 473px;
	
}
.girl-next-door {
	height: 473px;
	
}
.ms-madison-ave {
	height: 473px;
	
}
.natural-beauty {
	height: 473px;
	
}
.sexy-brunette {
	height: 473px;
	
}
.tattooed-baby {
	height: 473px;
	
	}
}


@media screen and (max-width: 320px){
	
.beach-bunny {
	height: 375px;
	
}

.biker-babe {
	height: 375px;
	
}
.blonde-bombshell {
	height: 375px;
	
}
.bootylicious-babe {
	height: 375px;
	

}
.daddy\'s-girl {
	height: 375px;
	
}
.fierce-cowgirl {
	height: 375px;
	
}
.fitness-chic {
	height: 375px;
	
}
.girl-next-door {
	height: 375px;
	
}
.ms-madison-ave {
	height: 375px;
	
}
.natural-beauty {
	height: 375px;
	
}
.sexy-brunette {
	height: 375px;
	
}
.tattooed-baby {
	height: 375px;
	
	}
}

