body{
	background-color: #000000;
}

.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}


#nextIcon{
	font-family: Verdana;
	font-size: 50px;
	top: 33%;
}

#rightControl{
	background: none !important; 
	filter: none !important;
	max-height: 10px;
    top: 33%; 
}

.topBar{
	margin-top: 22px;
}

.container{
	padding-right: 0;
	padding-left: 0;
}

.close{
	color: white;
	opacity: initial;
}
.descriptionDiv{
	padding-top: 40px;
    padding-right: 35px;
    padding-bottom: 20px;
    padding-left: 40px;
}
h3{
	color: white;
}
/*.carousel-control { 
	background: none !important; 
	filter: none !important; 
	
}*/

.bottom{
 	bottom: 37px;
 	position: absolute;
}

.dogCircle{
	margin-right: 15px;
}

.logo{
	margin-top: 22px;
	margin-left: 8%;


}
.navbar-form {
	margin-top: 20px;
	padding-top: 20px;
}
h5{
	font-family: helvetica;
	color: white;
	letter-spacing: 1px;
	text-align: center;
}
h6{
	color: white;
	background-color: #ea1316;
	display: inline-block;
	padding: 5px;
}

.span1 {
	font-family: 'Lobster', cursive;
	color: white;
	letter-spacing: 1px;
	font-size: 50px;
	text-shadow: 2px 2px #000;
	color: red;
}
p{
	color: white;
	font-size: 18px;
	font-family: helvetica;
	text-shadow: none;
}

.navbar-right {
	margin-right: 20px;
}
span{
	color: white;
}

.dogDiv > a > img {
	border: 1px solid #c9c9c9;
	border-radius: 4px;
	padding: 5px;
	text-align: center;
}
.dogDiv > a > img:hover {
	border: solid 1px #CCC;
	-moz-box-shadow: 1px 1px 5px #ea1316;
	-webkit-box-shadow: 1px 1px 5px #ea1316;
	box-shadow: 1px 1px 5px #ea1316;
}
.dogDiv {
	background: rgba(0, 0, 0, 0.7);
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}

.modal, .modal-body, .modal-header, .modal-footer {
	background: rgba(0, 0, 0, 0.7);
}
.dogDiv > p > a {
	color: #ffffff;
	font-size: 18px;
	line-height: 10px;
}
.dogDiv > p {
	margin-left: 20px;
}
#map-canvas {
	width: 350px; 
	height: 300px;
}
.locateDog {
	border: none;
	text-align: center;
	background: #ea1316;
	text-transform: uppercase;
	margin: 10px;
	color: #ffffff;
	width: 120px;
	height: 25px;
	line-height: 10px;
	font-size: 12px;
	font-family: garamond, serif;
}
h4{
	font-family: 'Lobster', cursive;
	color: white;
	letter-spacing: 1px;
	font-size: 30px;
	text-align: center;
}
.dogDivActive {
	display: block;
}
.nextButton {
	float: right;
	display: inline-block;
	border: none;
	text-align: center;
	background: #ea1316;
	text-transform: uppercase;
	color: #ffffff;
	width: 120px;
	height: 25px;
	line-height: 5px;
	margin: 10px;
	font-size: 12px;
}
.prevButton {
	float: left;
	display: inline-block;
	border: none;
	text-align: center;
	background: #ea1316;
	text-transform: uppercase;
	color: #ffffff;
	width: 120px;
	height: 25px;
	line-height: 5px;
	margin: 10px;
	font-size: 12px;
}
.align-right > h3 {
	float: none;
	line-height: 7px;
}
input {
	max-width: 44%;
	margin-left: 28%;
}

#dogButton {
	background-color: rgb(226, 2, 2);
    color: #f5f3f3;
    border: 1px solid #f7f3f3;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 20px;
    font-size: 12px;
    white-space: normal;

}

.dogThumbnails{
	width: 100%;
    display: inline-flex;
    text-align: center;
}
.dogRow{
	float: right;
}
#title{
	margin-left: -25px;

}



@media screen and (max-width: 768px){
	#title{
		font-size: 32px;
		margin-left: 20px;
	}
	p{
		padding-right: 20px;
	}
	.nextIcon{
		font-family: Verdana;
		font-size: 55px;
}

}

@media screen and (max-width: 640px){
	#location{
		max-width: 37%;
    	margin-left: 32%;
    	height: 24px;
    	border-radius: 1px;
	}


	.logo{
		width: 69%;
		margin-top: 0;
		margin-left: 0;
	}

	#title{
		font-size: 25px;
		margin-left: 0;

	}

	.dogThumbnails {
	    display: table-caption;
	   

	}

	.topBar{
		text-align: center;
		background-color: #383737;
    	padding: -6px;
    	padding-bottom: 20px;
    	border-bottom: 3px solid #de0303;
	}

	#dogButton{
		font-size:10px;
		white-space: normal;
	}
	.chooseDog{
		margin-top: 29px;
	}
	.dogCircle{
		margin-right:0;
	}

	.logoRow{
		background-color: #383737;

	}
	.bottom{
	position: absolute;
 	bottom: 38px;
	}

	p{
		padding-right: 5px;
		font-size: 12px;
	}

	h5{
		font-size: 12px;
	}
	h4{
		font-size: 25px;

	}

	.dogRow{
	margin-right: 25px;
	}
}


/*@media only screen and (max-device-width: 568px) and (orientation: landscape){

		p{
			font-size: 11px;
		}
		.logo {
    		width: 40%;
}*/

@media screen and (max-width: 320px){
	.dogThumbnails {
	    max-width: 100%;
	    
	   
	}

	.descriptionDiv {
	    /*padding-top: 40px;*/
	    padding-bottom: 13;
	    padding-left: 30px;
	}

	.chooseDog{
		margin-top: 22px;
		/*display: inherit;*/
	}

	#dogButton{
	    font-size: xx-small;
	    margin-bottom: 9px;
	    white-space: normal;
	}

	.dogRow {
    	float: right;
    	margin-right: 25px;
	}
	h4{
		font-size: 22px;
	}

}


